.home-widget {
    padding: 25px 35px 25px 25px;
    background-color: #FFFFFF36;
    color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;

    a {
        color: #FFFFFF;
        text-decoration: none;
    }
}