.home-widget {
    padding: 25px 35px 25px 25px;
    background-color: #FFFFFF36;
    border-radius: 3px 3px 3px 3px;

    h2 {
        
        color: #FFFFFF;
        text-align: center;
        margin: 0 auto;

        a {
            color: #FFFFFF;
            text-decoration: none;
        }
    }

}