.login {
    width: 100vw;
    display: flex;
    float: left;
  
    .login_container {
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: white;
      padding: 30px;
      text-align: left;

      .login_field {
        .field {
          display: flex;
          flex-direction: column;

          label {
            font-weight: 600;
            margin-bottom: 10px;
            display: inline-block;
            max-width: 100%;
          }

          .login_textBox {
            min-height: 59px;
            margin-bottom: 10px;
            border-radius: 3px 3px 3px 3px;
            background-color: #fafafa;
            border-color: #D4D4D4;
          }
        }
      }
    }

    
    .login_btn, .login_google {
      padding: 20px 40px 20px 40px;
      border-color: #54C7E1;
      color: #54C7E1;
      background-color: #FFFFFF00;
      border-style: solid;
      border-width: 2px 2px 2px 2px;
      border-radius: 500px 500px 500px 500px;

      :hover{
        color: #FFFFFF;
        background-color: #54C7E1
      }
    }

    .reset_link {
      a {
        color: #54c7e1;
      }
    }
  }
